html {
  background-color: blue;
}
body {
  width: 70%;
  border: 8px solid black;
  background-color: limegreen;
  padding: 10px;
  font-size: 16px;
}
img {
  border: 20px groove orange;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  width: 50%;
}
.head_1 {
  color: blue;
}
.head_2 {
  color: green;
}
